@use "../../styles/abstracts/colors" as *;
@use "../../styles/abstracts/layouts" as *;

.container {
  height: 100vh;

  .nav {
    display: flex;
    padding: 12px 0 12px 300px;
    background: #62aced;
  }

  .panel {
    height: 70%;
  }
}

.light {
  background-color: $background-secondary;
}

.dark {
  background-color: $dark-background-secondary;
  color: $background-secondary;
}

@media screen and (max-width: 800px) {
  .container {
    .nav {
      padding: 24px 0 0 64px;
    }
  }
}
